<div class="table-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column.label }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let item of data">
          <td *ngFor="let column of columns">{{ item[column['key']] }}</td>
        </tr> -->
      </tbody>
    </table>
  
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <button (click)="onPageChange(page)" *ngFor="let page of [].constructor(totalPages); let i = index">{{i + 1}}</button>
      <button (click)="getEmployees(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>